@charset "utf-8";
/* CSS Document */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	background-color: #191919;
	font-family: 'Montserrat', sans-serif;
}

#home-section {
	padding: 0 2.5rem;
}

/* Navbar Section */

li {
	list-style: none;
}

a {
	color: #FFF;
	text-decoration: none;
}

.navbar {
    min-height: 4rem;
    display: flex;
    align-items: center;
    padding: 2.5rem;
    border-bottom: solid 3px #543654;
}

.nav-menu {
	display: flex;
    align-items: center;
    gap: 2.5rem;
    margin-right: auto; /* Pushes the nav-menu to the left */
}

.nav-item {
	margin: 0 0.625rem;
}

#logo {
    position: absolute; /* Position the logo absolutely within the .navbar */
    left: 50%; /* Move the logo to the center horizontally */
    transform: translateX(-50%); /* Adjust for the logo's width to center it perfectly */
}

.nav-branding {
    max-height: 3.125rem;
}

.nav-link {
	transition: 0.7s ease;
}

.nav-link:hover {
	color: #543654;
}

.hamburger {
	display: none;
	cursor: pointer;
}

.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: #FFF;
}

/* Masthead Section */

#masthead-section {
	position: relative;
	padding: 6.25rem 0;
	margin: 3.125rem 6.25rem;
}

#masthead-text-background {
	position: relative;
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
	background-color: #353535;
	border-radius: 10px;
}

#masthead-text {
	width: 100%;
	max-width: 500px;
	padding: 1.25rem 3.125rem;
}

h1 {
	color: #FFF;
	font-size: 2.25rem;
	font-weight: 700;
	margin-bottom: 1rem;
}

#intro {
	color: #FFF;
	font-size: 1rem;
	font-weight: 300;
	line-height: 2.5rem;
}

#profile-pic {
	max-width: 416px;
	border-radius: 10px;
	position: absolute;
	top: 50%;
	left: 70%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

/* Portfolio Section */

#portfolio-section {
	padding: 0 2.5rem;
}

.portfolio-project {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1064px;
	margin: 3.125rem auto;
	background-color: #353535;
	border-radius: 10px;
}

.project-image img {
	max-height: 474px;
	display: block;
}

.project-name {
	color: #FFF;
	padding: 2.5rem;
	text-align: center;
}

.project-name h2,
.project-name h3 {
	margin: 0;
	padding: 0;
}

.project-name h2 {
	font-size: 1.25em;
	font-weight: 600;
}

.project-name h3 {
	font-size: 1em;
	font-weight: 300;
}

/* Contact Section */

#contact-section {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 8rem auto;
	min-height: 100%;
}

#contact-wrapper {
	display: flex;
	align-items: center;
}

#contact-info {
	padding-right: 6rem;
}

#contact-details {
	display: flex;
	flex-direction: column;
	background-color: #353535;
	border-radius: 10px;
	padding: 2.5rem;
}

.contact-line {
	display: flex;
	align-items: center;
	margin: 1.25rem;
}

.contact-line img {
	max-width: 3.4375rem;
	margin-right: 2.5rem;
}

#contact-message {
	color: #FFF;
	font-size: 1rem;
	font-weight: 300;
}

.contact-line span {
	color: #FFF;
	font-size: 1rem;
	font-weight: 300;
}

#footer-section {
	margin-top: auto;
	flex-shrink: 0;
	padding-bottom: 1.25rem;
}

#footer-text {
	color: #FFF;
	background-color: #543654;
	text-align: center;
	padding: 1.25rem 0;
}

/* Tablet - Portrait Layout */

@media only screen and (max-width: 768px) and (orientation: portrait) {
	.hamburger {
		display: block;
	}
	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}
	.hamburger.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}
	.hamburger.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}
	.nav-menu {
		position: fixed;
		left: -100%;
		top: 70px;
		gap: 0;
		flex-direction: column;
		background-color: #543654;
		width: 25%;
		text-align: center;
		transition: 0.3s;
		justify-content: center;
		height: 110px;
	}
	.nav-item {
		margin: 1rem auto;
	}
	.nav-menu.active {
		left: 0;
		top: 6.85rem;
		z-index: 1;
	}
	#logo {
		flex: 1; /* Take up the remaining space */
    	display: flex;
    	justify-content: center;
    	align-items: center;
	}
	#masthead-section {
		padding: 0;
		margin: 5rem auto;
		display: flex;
	}
	#masthead-text-background {
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 10px 0 0 10px;
	}
	#masthead-text {
		width: 100%;
		max-width: 500px;
		padding: 0 auto;
	}

	h1 {
		font-size: 1.5rem;
		font-weight: 700;
		margin-bottom: 1rem;
	}

	#intro {
		font-size: 0.8rem;
		font-weight: 300;
		line-height: 2.5rem;
	}
	#profile-pic {
		position: static;
    	top: auto;
    	left: auto;
    	transform: none;
    	z-index: auto;
		max-width: 18.75rem;
		border-radius: 0 10px 10px 0;
	}
	#portfolio-section {
		padding: 0 2.5rem;
		margin-bottom: 5rem auto;
	}
	.portfolio-project {
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 1064px;
		margin: 0 auto 5rem auto;
		background-color: #353535;
		border-radius: 10px;
	}

	.project-image img {
		max-height: 20rem;
		display: block;
	}
	#contact-wrapper {
		display: block;
		justify-content: center;
	}
	#contact-info {
		justify-content: center;
		padding: 0;
		margin-bottom: 2rem;
	}
	#contact-message {
		text-align: center;
	}
}

/* Phone - Portrait Layout */

@media only screen and (max-width: 390px) and (orientation: portrait) {
	.navbar {
		padding: 1rem 0;
	}
	.hamburger {
		display: block;
	}
	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}
	.hamburger.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}
	.hamburger.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}
	.nav-menu {
		position: fixed;
		left: -100%;
		top: 70px;
		gap: 0;
		flex-direction: column;
		background-color: #543654;
		width: 25%;
		text-align: center;
		transition: 0.3s;
		justify-content: center;
		height: 110px;
	}
	.nav-item {
		margin: 1rem auto;
	}
	.nav-menu.active {
		left: 0;
		top: 3.85rem;
		z-index: 1;
	}
	.nav-branding {
		max-width: 12rem;
	}
	#masthead-section {
		padding: 0;
		margin: 3rem auto;
		display: block;
	}
	#masthead-text-background {
		border-radius: 10px;
		margin-bottom: 2rem;
	}
	#masthead-text {
		width: 100%;
		padding: 1.25rem;
	}
	h1 {
		font-size: 1.2rem;
		font-weight: 700;
		margin-bottom: 1rem;
	}
	#profile-pic {
		position: static;
    	top: auto;
    	left: auto;
    	transform: none;
    	z-index: auto;
		width: 100%;
		border-radius: 10px;
	}
	#portfolio-section {
		padding: 0 2.5rem;
		margin-bottom: 5rem auto;
	}
	.portfolio-project {
		display: block;
		align-items: center;
		justify-content: center;
		margin: 0 auto 5rem auto;
		border-radius: 10px;
	}

	.project-image img {
		width: 100%;
		display: block;
	}
	#contact-section {
		justify-content: center;
		margin: 3rem auto;
		width: 100%;
	}
	#contact-wrapper {
		display: block;
		justify-content: center;
		padding: 0 2.5rem;
	}
	#contact-info {
		justify-content: center;
		padding: 0;
		margin-bottom: 2rem;
	}
	#contact-message {
		text-align: center;
	}
	.contact-line img {
		max-width: 2rem;
		margin-right: 1.5rem;
	}
	.contact-line span {
		font-size: 0.8rem;
	}
}