@charset "utf-8";
/* CSS Document */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	background-color: #191919;
	font-family: 'Montserrat', sans-serif;
}

#home-section {
	padding: 0 40px;
}

/* Navbar Section */

li {
	list-style: none;
}

a {
	color: #FFF;
	text-decoration: none;
}

.navbar {
    min-height: 4rem;
    display: flex;
    align-items: center;
    padding: 2.5rem;
    border-bottom: solid 3px #543654;
    position: relative;
}

.nav-menu {
	display: flex;
    align-items: center;
    gap: 2.5rem;
    margin-right: auto; /* Pushes the nav-menu to the left */
}

.nav-item {
	margin: 0 10px;
}

#logo {
    flex: 1; /* Take up the remaining space */
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-branding {
    max-height: 3.125rem;
}

.nav-link {
	transition: 0.7s ease;
}

.nav-link:hover {
	color: #543654;
}

.hamburger {
	display: none;
	cursor: pointer;
}

.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: #FFF;
}

/* Masthead Section */

#masthead-section {
	position: relative;
	padding: 6.25rem 0;
	margin: 3.125rem 6.25rem;
}

#masthead-text-background {
	position: relative;
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
	background-color: #353535;
	border-radius: 10px;
}

#masthead-text {
	width: 100%;
	max-width: 500px;
	padding: 20px 50px;
}

h1 {
	color: #FFF;
	font-size: 2.25rem;
	font-weight: 700;
	margin-bottom: 1rem;
}

#intro {
	color: #FFF;
	font-size: 1rem;
	font-weight: 300;
	line-height: 40px;
}

#profile-pic {
	max-width: 416px;
	border-radius: 10px;
	position: absolute;
	top: 50%;
	left: 70%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

/* Portfolio Section */

#portfolio-section {
	padding: 0 40px;
}

.portfolio-project {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1064px;
	margin: 50px auto;
	background-color: #353535;
	border-radius: 10px;
}

.project-image img {
	max-height: 474px;
	display: block;
}

.project-name {
	color: #FFF;
	padding: 40px;
	text-align: center;
}

.project-name h2,
.project-name h3 {
	margin: 0;
	padding: 0;
}

.project-name h2 {
	font-size: 1.25em;
	font-weight: 600;
}

.project-name h3 {
	font-size: 1em;
	font-weight: 300;
}

/* Contact Section */

#contact-section {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 8rem auto;
	min-height: 100%;
}

#contact-wrapper {
	display: flex;
	align-items: center;
}

#contact-info {
	padding-right: 6rem;
}

#contact-details {
	display: flex;
	flex-direction: column;
	background-color: #353535;
	border-radius: 10px;
	padding: 2.5rem;
}

.contact-line {
	display: flex;
	align-items: center;
	margin: 1.25rem;
}

.contact-line img {
	max-width: 3.4375rem;
	margin-right: 2.5rem;
}

#contact-message {
	color: #FFF;
	font-size: 1rem;
	font-weight: 300;
}

.contact-line span {
	color: #FFF;
	font-size: 1rem;
	font-weight: 300;
}

#footer-section {
	margin-top: auto;
	
	flex-shrink: 0;
	padding-bottom: 1.25rem;
}

#footer-text {
	color: #FFF;
	background-color: #543654;
	text-align: center;
	padding: 1.25rem 0;
}

/* Tablet - Portrait Layout */

@media only screen and (max-width: 768px) and (orientation: portrait) {
	.hamburger {
		display: block;
	}
	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}
	.hamburger.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}
	.hamburger.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}
	.nav-menu {
		position: fixed;
		left: -100%;
		top: 70px;
		gap: 0;
		flex-direction: column;
		background-color: #353535;
		width: 100%;
		text-align: center;
		transition: 0.3s;
	}
	.nav-item {
		margin: 1rem 0;
	}
	.nav-menu.active {
		left: 0;
	}
}

/* Phone - Portrait Layout */

@media only screen and (max-width: 390px) and (orientation: portrait) {
	.navbar {
	flex-direction: column;
	height: auto;
  }
	
	.navbar-left {
	margin-bottom: 10px;
  }
	
	.navbar-left li {
	margin: 0;
	padding: 5px 0;
	border-bottom: 1px solid #fff;
  }

	.navbar-left li:last-child {
    border-bottom: none;
  }

	.navbar-center {
    text-align: center;
  }
	.nav-links {
    display: none;
  }
  
  .hamburger-menu {
    display: block;
  }
  
  .nav-links.show {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #444;
    padding: 10px 0;
  }
  
  .nav-links.show li {
    padding: 10px;
  }
}